// Variables for customization
$primary-color: #11A997;
$hover-color: darken($primary-color, 10%);
$border-radius: 25px;

// Navbar Styles
.navbar {
  background-color: #f8f9fa; // Light gray background
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); // Subtle shadow
  border-radius: $border-radius;

  .btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    border-radius: $border-radius;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px $primary-color;
    }
  }

  .btn {
    margin: 0 0.15em; // Space between buttons
    padding: 0.5rem 1.25rem; // Adjust padding for a better fit
  }

  .btn:last-child {
    margin-right: 0; // Remove extra margin on the last button
  }
}